<div>
    <ul id="ts options">
        <li ng-model="trade">Trade</li>
        <li ng-model="sell">Sell</li>
    </ul>
    <div style="text-align:center;" ng-if="trade">
        <h1 style="text-align:center">Trade</h1>
        <button ng-click="getPic()">File...</button><br />
        <label>Serial Number/Imei/ESN/MEID:</label>&nbsp;&nbsp;
        <input type="text" width="250px:"/><br />
        <label>Serial Number/Imei/ESN/MEID:</label>&nbsp;&nbsp;
        <input type="text" width="250px:"/><br />
        <label>Trades:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" width="250px:"/><br />
        <button type="submit" align="right">Save</button>
    </div>
</div>