<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
        <title>Safe Exchange</title>
        <link href="main.css" >
        <link href="css/bootstrap.min.css" /> rel="stylesheet" />
    </head>
    <body ng-controller="MainCtrl">
        <divng-include src="header.url"></div>
        <footer>Created by Keheira and Avery</footer>
    <script src="lib/common/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="some.js"></script>
    </body>
</html>
