<!DOCTYPE html>
<html ng-app="app">
    <head>
      <meta charset="utf-8">
        <title>{{title}}</title>
        <link href="main.css" >
        <link href="css/bootstrap.min.css" rel="stylesheet" >
      <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>

<body  ng-controller="NavCtrl">

  <div class="navbar">
    <ul class="nav navbar-nav">
      <li ng-class="navClass('home')"><a href='' ng-click="loadHome()">Home</a></li>
      <li ng-class="navClass('login')"><a href='' ng-click="loadLogin()">Login/Register</a></li>
      <li ng-class="navClass('contact')"><a href='' ng-click="loadContact()">Contact Us</a></li>
    </ul>
  </div>

  <div ng-view></div>>
        <footer>Created by Keheira and Avery</footer>
    <script src="lib/common/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="./Scripts/main.js"></script>
    </body>
</html>
