<div id="loginBox">
    <form ng-controller="LoginCtrl">
        <br/>
        <h5>Username:</h5><input type="text" name="Username" ng-model="login.user" required>
        <span ng-show="namereq">{{namereq}}</span>
        <h5>Password:</h5><input type="password" name="Password" ng-model="login.pass" required>
        <span ng-show="passreq">{{passreq}}</span>
        <button ng-click="validate()">Login</button>
    </form>
</div>
<div id="registerBox">
    <form ng-controller="RegisterCtrl">
        <br/>
        <h5>Name:</h5><input type="text" name="Name" required>
        <h5>Username:</h5><input type="text" name="Username" required>
        <h5>Password:</h5><input type="text" name="Password" required>
        <h5>Email:</h5><input type="email" name="Email">
        <button>Register</button>
    </form>
</div>
